<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.helloworld"
        version   = "1.0.0">

        <name>OBD Buddy</name>


     <preference name="permissions"                value="none"/>
       <plugin name="cordova-plugin-geolocation" />

        <access origin="*" />
         <allow-intent href="http://*/*" />
         <allow-intent href="https://*/*" />
        <allow-intent href="geo:*" />

    </widget>